# Python files
*.pyc
__pycache__/

# Exclude database-related files or directories
db.sqlite3
migrations/
.DS_Store

# Environment files for sensitive data
dreams_of_cloth_server.env

# Model data (get in init script)
models/
*.pth

# SAM files (get in init script)
segment-anything/